@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed&subset=latin,cyrillic);

body {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 24px;
	background: #CDC9C9;
}

.leftmenu_ss {
	list-style: none;
	padding: 0;
	width: 280px;
}

.leftmenu_ss .unfolding {
	height: 50px;
	overflow: hidden;

	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.leftmenu_ss .unfolding:hover {
	height: 210px;
}

.leftmenu_ss li a {
	display: block;
	width: 250px;
	height: 50px;
	background: #FFFFF0;
	margin: 1px;
	color: #FF4500;
	padding-left: 20px;
	cursor: pointer;

	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.leftmenu_ss li a:hover {
	color: #E0FFFF;
	background: #EED8AE;
}

.leftmenu_ss li a:first-child {
	font-size: 28px;
	height: 60px;
	position: relative;
	text-indent: 50px;
}

.leftmenu_ss li a:first-child::before {
	content: '';
	position: absolute;
	display: block;
	height: 32px;
	width: 32px;
	top: 8px;
}

.home a:first-child::before {
	background: url(../pctrs/home.png) center no-repeat;
}

.programm a:first-child::before {
	background: url(../pctrs/programm.png) center no-repeat;
}

.news a:first-child::before {
	background: url(../pctrs/news.png) center no-repeat;
}

.information a:first-child::before {
	background: url(../pctrs/inf.png) center no-repeat;
}

.contacts a:first-child::before {
	background: url(../pctrs/contacts.png) center no-repeat;
}

.location a:first-child::before {
	background: url(../pctrs/location.png) center no-repeat;
}

.leftmenu_ss li a:first-child::after {
	content: '';
	position: absolute;
	display: block;
	height: 16px;
	width: 16px;
	top: 8px;
	right: 8px;
}

.unfolding a:first-child::after {
	background: url(../pctrs/unfolding_d.png) center no-repeat;
}

/*.unfolding a:first-child::after:hover {
	background: url(../pctrs/unfolding_r.png) center no-repeat;
}*/